/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

ul {
  	list-style: none;
}

/* Default layout */

body {
	height: 100%;
  	font-family: 'Droid Sans', helvetica, arial, serif;
	font-size: 20px;
	font-weight: normal;
	-webkit-text-size-adjust: 100%;
	background-color: #222;
	color: #FFF;
}

a {
    border-bottom: 2px solid #FFF;
    color: #FFF;
    padding-bottom: 1px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

#who, #presentation {
	position: fixed;
	width: 100%;
	text-align: center;
}

#who {
	bottom: 50%;
	padding-bottom: 15px;
	animation: movebottom 1s;
}
@keyframes movebottom {
    from { bottom: 100%; }
    to { bottom: 50%; }
} 

	#who h1 {
		font-size: 40px;
	}

	#who img {
		padding: 3px;
		border-radius: 50%;
		border: 3px solid #333;
	}

#presentation {
	top: 50%;
	padding-top: 15px;
	animation: movetop 1s;
}
@keyframes movetop {
    from { top: 100%; }
    to { top: 50%; }
} 

	#presentation p {
		margin: 0 auto 30px auto;
		max-width: 900px;
		line-height: 30px;
	}

		a.ellipse:hover {
			border-color: #F66930;
		}
		a.wibeset:hover {
			border-color: #F1C40F;
		}

	#presentation li {
		display: inline;
		padding: 0 5px;
	}

		#presentation li a {
			display: inline-block;
			margin-right: 15px;
		}
		#presentation li:last-child a {
			margin-right: 0;
		}

		a.twitter:hover {
			border-color: #8EC1DA;
		}
		a.github:hover {
			border-color: #BD2C00;
		}
		a.linkedin:hover {
			border-color: #489DC9;
		}
